---
---

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$fontsize:		26px;
$fontcolor:		#010101;
$bouncecolor:		#f79421;
$evencolor:		#f7d5b5;
$oddcolor:		lightblue;
$headersize:		105px;

html {
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%; 
}

body { 
	color: $fontcolor;
	background: white;
	font: $fontsize Calibri, Candara, Verdana, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	line-height: 1.625;
	margin: 0;
}

footer
{
	display: block;
	font-family: 'Ubuntu', sans-serif;
	border-top: 1px solid #eee;
	font-size: 18px;
	background-color: $evencolor;
	text-align: center;
}

header {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 0 34px;
	background: #fff;
	border-bottom: 1px solid #eee;

	.logo {
		display: inline-block;

		img {
			height: 90px;
		}
	}
}

nav {
	display: inline-block;
	vertical-align: top;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 20px;
		line-height: 24px;
	}
	
	li {
		display: inline-block;
		vertical-align: top;
		padding: 28px 12px 0;
		border-top: 4px solid transparent;
		
		&:hover {
			border-top-color: $bouncecolor;
		}

		a {
			color: $fontcolor;
			border: none;

			&:hover {
				color: $bouncecolor;
			}

			&.activelink {
				position: relative;
				padding-right: 14px;
				font-weight: 600;
				color: #ff5f5f;

				&:hover {
					color: $bouncecolor;
				}

				&:after {
					-webkit-transition: right .2s linear 0s;
					transition: right .2s linear 0s;
					
					position: absolute;
					top: 50%;
					right: -6px;;
					z-index: 2;
					margin-top: -12px;
					content: "►";
				}

				&:hover:after {
					right: -12px !important;
				}
			}
		}
	}

	li + li {
		margin-left: 33px;
	}
}

/*
@media (max-width: 1023px) {
	header {
		padding: 0 15px 20px;
	}
}

@media (max-width: 767px) {
	header {
		min-height: 69px;
		padding: 0;
		position: relative;
		z-index: 21;
		padding: 13px 30px 10px;
		text-align: center;
	}

	header:after {
		display: block;
		clear: both;
		content: "";
	}
}
*/

#content-wrapper {
    padding: $headersize 0 90px;
    min-height: 260px;
}

section {
	display: block;	
    min-height: 130px; 
	text-align: center;	

	.section-content {
		max-width: 1000px;
		padding: 65px 30px 65px;
		margin: 0 auto;
	}

	.evenrow {
		background-color:  $evencolor;
	}

	.oddrow {
		/* background-color:  $oddcolor;*/
	}
}

.anchor {
	position: relative; 
	top: -$headersize;

	:before {
		content: " ";
	}
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 36px; font-weight: 900;
}
