<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="icon" type="image/png" href={{ "/assets/img/favicon.png" | relative_url }} />

    <title>{{ site.title }} | {{ page.title | default: site.description }} </title>

    <meta property="og:title" content="Bounce Security Consulting" />
    <meta name="description" content="Efficient, Value-Driven Security" />
    <meta property="og:description" content="Efficient, Value-Driven Security" />
    <meta property="og:site_name" content="Bounce Security Consulting" />
    <script type="application/ld+json">
        {"name":"Bounce Security Consulting","description":"Efficient, Value-Driven Security","@type":"WebSite","url":"/","headline":"Bounce Security Consulting","@context":"http://schema.org"}
    </script>
  </head>

  <body>
	<header id="header" class="header">
		<div class="logo">
			<a href="/">
				<img src={{ "/assets/img/logo.svg" | relative_url }} alt="Bounce Security" onerror="this.onerror=null; this.src='images/logo.png'" />
			</a>
		</div>
		
		<nav class="nav">
			<ul>
				{% for menu in site.data.menus %}
				<li>
					<a href="{{ menu.url | relative_url }}" {% if menu.active %} class="activelink"{% endif %}>{{menu.title}}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</header>

	
	<section id="content-wrapper">
		{{ content }}
	</section>

	<footer id="footer" class="footer">
		Efficient, Value Driven Security - 
		<a href="mailto:info@bouncesecurity.com">info@bouncesecurity.com</a>
	</footer>

  </body>
</html>
